body {
    margin: 0;
    padding: 0;
    font-family: 'robotic 'sans-serif;
    background-image: url(../img/admin.jpg);
}

.caja_login h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
    text-align: center;
}

.caja_login input[type="text"],
.caja_login input[type="pasword"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 20px 20px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.caja_login input[type="text"]:focus,
.caja_login input[type="pasword"]:focus {
    width: 280px;
    border-color: white;
}

.caja_login button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 20px 20px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}